.Button {
  cursor: pointer;
  padding: 10px 15px;
  color: var(--primary-color);
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.01) translateY(-0.5px);
  }
}

.clear {
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
}

// TODO ??? добавить пропс
.inverted {
  color: var(--primary-color-inverted);
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--bg-color-inverted);
  color: var(--primary-color-inverted);
  border: none;
}

.square {
  padding: 0;
}

.square.size_m {
  height: var(--font-line-height-m);
  width: var(--font-line-height-m);
  font-size: var(--font-size-m);
}

.square.size_l {
  height: var(--font-line-height-l);
  width: var(--font-line-height-l);
  font-size: var(--font-size-l);
}

.square.size_xl {
  height: var(--font-line-height-xl);
  width: var(--font-line-height-xl);
  font-size: var(--font-size-xl);
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}

.disabled {
  opacity: 0.5;
}
