.Button {
  cursor: pointer;
  color: var(--text-primary-color);
}

.clear {
  border: none;
  background: none;
  outline: none;
  color: var(--inverted-text-primary-color);
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--text-primary-color);
  color: var(--text-primary-color);
  background: none;
}