.ListBox {
  position: relative;
  width: max-content;
}

.buttonWrapper {
  // background: none;
  // border: none;
  // outline: none;
  // padding: 0;
  // margin: 0;
}

.options {
  position: absolute;
  z-index: 10000;
  background: var(--listbox-bg);
  border-radius: 12px;
  border: 1px solid var(--bg-color-inverted);
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.option {
  padding: 10px 20px;
}

.active {
  background: var(--bg-color-inverted);
  color: var(--primary-color-inverted);
}

.selected {
  background: var(--bg-color-inverted);
  color: var(--secondary-color);
}

.disabled {
  opacity: 0.4;
}

.optionsBottomLeft {

}

.optionsBottomRight {
  right: 0;
}

.optionsTopLeft {
  bottom: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  right: 0;
}
