.app_light_theme {
  --bg-color: #f4f4fb;
  --bg-color-inverted: #5e69ee;
  --primary-color: #5e69ee;
  --secondary-color: #39afea;
  --primary-color-inverted: #eaeaff;
  --secondary-color-inverted: #39afea;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
  
  // card
  --card-bg: #a4a4ff;

  // ListBox (select)
  --listbox-bg: #a4a4ff;
}
