.app.light {
  --bg-color: #e0bcdc;
  --inverted-bg-color: #120c1b;
  --text-primary-color: #1e0e3b;
  --text-secondary-color: #023b3b;
  --inverted-text-primary-color: #c970be;
  --inverted-text-secondary-color: #7570c0;
}
