.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color-inverted);
  display: flex;
  align-items: center;
  padding: 20px;
}

.NavbarRedesigned {
  padding: 16px;
}

.links,
.actions {
  margin-left: auto;
  color: var(--primary-color-inverted);
  border-color: var(--primary-color-inverted);
}

.links > * {
  margin-left: 15px;
}

.appName {
  width: var(--sidebar-width);
}

.notifications {
  min-height: 150px;
  max-height: 300px;
  min-width: 500px;
  overflow-y: auto;
}
