.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color-inverted);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
  color: var(--primary-color-inverted);
  border-color: var(--primary-color-inverted);
}

.links > * {
  margin-left: 15px;
}
