.ProfilePageHeader {
  display: flex;
  margin-bottom: 20px;

  .editBtn {
    
  }

  .saveBtn {
    margin-left: 10px;
    border-color: green;
    color: green;
    background-color: #bcddc6;
  }

  .wrapper {
    margin-left: auto;
  }
}
