.ProfileCard {
  padding: 20px;
  border: 2px solid var(--bg-color-inverted);
}

.loading {
  height: 300px;
}

.editing {
  border: 2px solid var(--primary-color-inverted);
}

.input {
  width: 100%;
}