.AppLink {
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.01) translateY(-0.5px);
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--primary-color-inverted);
}
